    <article class="linkbox">
        <header class="header">
            <div class="block">
                <h1>My Books</h1>
            </div>
            <ul>
                <a href="/">Home</a>
                <a href="/insertbook"><li>Add Book</li></a>
                <a href="/list">
                    <li>List of Books</li>
                </a>
                {{#if userCreated}}
                <a href="/profile">
                    <li>Profile</li>
                </a>
                {{else}}
                <a href="/profile">
                    <li>Create Account</li>
                </a>
                {{/if}}
            </ul>
        </header>
    </article>