    <article class="linkbox">
        <header class="header">
            <div class="block">
                <h1>My Books</h1>
            </div>
            <ul>
                <a href="home.html">Home</a>
                <a href="addbook.html"><li>Add Book</li></a>
                <a href="listofbooks.html">
                    <li>List of Books</li>
                </a>
                <a href="useraccount.html">
                    <li>Account</li>
                </a>
            </ul>
        </header>
    </article>