    <article class="linkbox">
        <header class="header">
            <div class="block">
                <h1>My Books</h1>
            </div>
            <ul>
                <a href="/">Home</a>
                <a href="/insertbook"><li>Add Book</li></a>
                <a href="/list">
                    <li>List of Books</li>
                </a>
                <a href="/profile">
                    <li>Create Account</li>
                </a>

                <a href="/newprofile">
                <li>View Accounts</li>
                </a>
            </ul>
        </header>
    </article>