    <section>
        <div class="chatblock">
    
            <div class="box">

                <h2>Welcome to My Books</h2>
                <p>This is your one-stop destination for managing your book collection. Here you can:</p>
                <ul>
                    <li>Add new books to your collection.</li>
                    <li>View a list of all the books you’ve added.</li>
                    <li>Manage your account settings.</li>
                </ul>
                <p>Explore the features and make the most of your reading journey!</p>

            </div>
    </section>