
    
<section>
    <div class="chatblock">
        <div class="box">

            <h2>Thank You for Adding a New Book!</h2>
            <p>We have successfully received and added the book titled <strong>{{title}}</strong> to our system. It is now included in our comprehensive booklist, which makes it easier for you and others to find and manage your collection.</p>

            <a href="/" class="followinglink">Return to Home</a>
        </div>
    </div>
</section>