    <section>
        <div class="chatblock">
    
            <div class="box">

                <h2>We received the changes, {{username}}</h2>

                <p>Your account has been updated.</p>

                <a href="/">Return</a>

            </div>
    </section>