<section>
    <div class="chatblock">
        <div class="box"> 
            
            
            <h2>Your Changes Have Been Saved, {{name}}</h2>

            <p>We’re pleased to inform you that your account has been successfully updated. Your new settings and information are now in place, and everything is ready for you to continue using our services.</p>

            <form action="/newprofile" method="GET">
            <button type="submit">Check Profile</button>
            </form>
        </div>
    </div>
</section>
