
    
<section>
    <div class="chatblock">
        <div class="box">
            <h2>Thank You for Adding a New Book!</h2>
            <p>We have successfully received and added the book titled <strong>{{title}}</strong> to our system. It is now included in our comprehensive booklist, which makes it easier for you and others to find and manage your collection.</p>
            <p>If you have more books to add or if you'd like to view the current list, feel free to explore the available options. We're here to help you keep track of your literary treasures and make the most out of your reading experience!</p>
            <a href="/" class="followinglink">Return to Home</a>
        </div>
    </div>
</section>