<section>
    <div class="chatblock">
        <div class="box">
            <h2>Success! Your Changes Have Been Saved, {{username}}</h2>
            <p>We’re pleased to inform you that your account has been successfully updated. Your new settings and information are now in place, and everything is ready for you to continue using our services.</p>
            <p>If you need to make further adjustments or explore additional features, feel free to navigate through the options available. We're always here to assist you in making the most out of your experience.</p>
            <a href="/" class="followinglink">Return to Home</a>
        </div>
    </div>
</section>
