    <link rel="stylesheet" href="/public/css/styles.css">
    
    <section>
        <div class="chatblock">
    
            <div class="box">

            <h2>We received the following book: {{title}}</h2>

            <p>This book will be in the booklist now.</p>

            <a href="/">Return</a>

            </div>
        </div>
    </section>