 <section>
        <div class="chatblock">
    
            <div class="box">

                <h2>User Profile Settings</h2>
            <form action="/receiveaccount" method="POST" class="profile-form">
                
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" value="CurrentUsername" required>
                </div>
                
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="user@example.com" required>
                </div>
                
                <div class="form-group">
                    <label for="text">Favorite book:</label>
                    <input type="text" name="favoritebook">
                </div>
                
                <div class="form-group">
                    <label for="confirm-password">Favorite genre:</label>
                    <input type="text" name="favoritegenre">
                </div>
                
                <button type="submit">Update Profile</button>
            </form>

            </div>
    </section>